:root {
  --bodyCol: rgb(90, 2, 2);
}

body {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ebf4ff;
}
.side{
  height: 10vh;
  width: 10vh;
  /* background-color: blue; */
  border: 1px solid gray;
}
.a{
  /* transform: rotate(30deg); */
  position: relative;
  top: 15.3vh;
  left: -2.1vh;
  border-right: none;
  border-top: none;
  border-bottom:none;
}
.b{
  transform: rotate(45deg);
}
.c{
  /* transform: rotate(30deg); */
  position: relative;
  top: -5.3vh;
  left: 2.1vh;
  border-left: none;
  border-top: none;
  border-bottom: none;
  /* display: none; */
}
.d{
  transform: rotate(45deg);
  position: relative;
  top: -10.5vh;
}