:root{
    --bodyCol : rgb(90, 2, 2);
}
body{
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #accfff;
}
.ant{
    display: flex;
    align-items: center;
    justify-content: center;
}
.head{
    height: 10vh;
    width: 12vh;
    border-radius: 15vh 9vh 12vh 7vh;
    background-color: var(--bodyCol);
    transform: rotate(-15deg);
    position: relative;
    box-shadow: 2px 2px 2px grey;

}
.antenna{
    height: 10vh;
    width: 10vh;
    border-radius: 0 7vh;
    border-right: 2px solid var(--bodyCol);
    border-top: 2px solid var(--bodyCol);
    position: relative;
    top: -7vh;
    left: -3vh;
}
.thorax{
    height: 10vh;
    width: 16vh;
    background-color: var(--bodyCol);
    border-radius: 15vh 20vh 5vh 5vh;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    box-shadow: 2px 2px 2px grey;
}
.abdomen{
    height: 14vh;
    width: 14vh;
    background-color: var(--bodyCol);
    border-radius: 15vh 10vh 15vh 5vh ;
    transform: rotate(20deg);
    position: relative;
    left: .5rem;
    box-shadow: 2px 2px 2px grey;
}
.leg{
    min-height: 10vh;
    min-width:10vh;
    border-right: 5px solid var(--bodyCol);
    border-bottom: 5px solid var(--bodyCol);
    border-radius: 10vh 0 10vh;
    position: relative;
    left: -7vh;
    top: 7vh;
}
.front{
}
.mid{
    min-width: 0;

}
.hind{
    transform: rotateY(180deg);
}