:root {
  --bodyCol: rgb(90, 2, 2);
}

body {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ebf4ff;
}

.card{
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 1px grey;
  border-radius: .5rem;
}
img.profile{
  height: 100px;
  width: 170px;
  border-radius: inherit;
}
.caption{
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  padding: 9px;
  /* box-shadow: 1px 1px 1px grey inset; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.title{
  font-size: medium;
  margin: 0%;
}
.desc{
  width: 10rem;
}
