*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrapper{
    display: flex;
    align-items: center;
    height: 100vh;
}
aside{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: blue;
    padding: 1rem;
}
aside .menuItem{
    font-size: xx-large;
    align-items: center;
    background-color: white;
    border-radius: 10rem;
    padding-left: 1rem ;
    color: blue;
    box-shadow: 1px 1px 1px grey;
}
aside .menuItem:hover{
    background-color: lightblue;
}
.content{
    height: 100vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner{
    height: 20%;
    width: 60%;
    background-color: lightblue;
    margin: .5rem;
    border-radius: 2rem;
    box-shadow: 1px 1px 1px grey;

}