*{
    box-sizing: border-box;
    margin: 0;
    font-weight: 600;
}
.wrapper{
    display: flex;
    min-height: 100vh;
    align-items: flex-start;
    justify-content: center;
    background-color: rgb(222, 236, 255);
    background-image: url(./untitled2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}
.formContainer{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    height: max-content;
    width: 51.5rem;
    min-height: 60vh;
    background-color: rgb(255, 255, 255);
    padding: 0;
    border-radius: 7px;
    box-shadow: 1px 1px 4px  grey;
    
}
.formHeader{
    display: flex;
    width: 100%;
    /* width: 15rem; */
    gap: 2px;
}
.formHeader .tab{
    min-width: 11rem;
    padding: .7rem;
    background-color: rgb(223, 243, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 1px 5px 1px rgb(118, 161, 179);
    border-radius: 7px 10rem 10rem 7px ;
    color: white;
}
.tab h3{
    font-size: 1px;
    margin: 0;
}
 .tab h3{
    font-size: medium;
    padding: 0rem 1rem;
}
.tab.selected{
    background-color: blue;

}
.tab:nth-child(1){
    position: initial;
    z-index: 5;
}
.left1{
    position: relative;
    left: -1rem;
    z-index: 4;
}
.left2{
    position: relative;
    left: -2rem;
    z-index: 3;
}
.left3{
    position: relative;
    left: -3rem;
    z-index: 2;
}
.left4{
    position: relative;
    left: -4rem;
    z-index: 1;
} 
.form{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 1rem;
    padding: 1rem 4rem;
}
.form-control{
    
  background-color: gray;
}