.container{
   display: flex;
   align-items: center;
   justify-content: center; 
}
.cap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid blue; */
    animation-name: 'rotate';
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.top{
    border: 2px solid rgb(55, 55, 55);
    background-color: rgb(0, 153, 255);
    height: 3rem;
    border-radius: 2rem 2rem 0 0;
    width: 2rem;
    box-shadow: 0px 1px 1px gray;
}
.bot{
    border: 2px solid rgb(55,55,55);
    background-color: rgb(255, 42, 42);
    width:2rem;
    height:3rem;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0px 1px 1px gray;

}
@keyframes rotate {
        from {
            
        }
        
        to {
            transform: rotate(360deg);
        }
}