
*{
    --capwidth:0.5rem;
    --capheight:calc(var(--capwidth)*3/2);
}
.container{
   display: flex;
   align-items: center;
   justify-content: center; 
   gap: 1rem;
   flex-direction: column;
   --asdf:123;
}
.circlecont{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(var(--capheight)*6);
    width: calc(var(--capheight)*6);
    /* animation-name: 'rotate'; */
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.capcont{
    display: flex;
    height: calc(var(--capheight)*6);
    width: calc(var(--capheight)*6);
    align-items: end;
    justify-content: end;
    /* border: 1px solid red; */
    position: absolute;
    /* animation-name: movein; */
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.cap{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid blue; */
    height: (var(--capheight)*2);
    transform: rotate(33deg);
}
.top{
    border: 2px solid rgb(55, 55, 55);
    background-color: rgb(0, 153, 255);
    height: calc(var(--capwidth)*3/2);
    border-radius: 2rem 2rem 0 0;
    width: var(--capwidth);
    box-shadow: 0px 1px 1px gray;
}
.bot{
    border: 2px solid rgb(55,55,55);
    background-color: rgb(255, 42, 42);
    width:var(--capwidth);
    height:calc(var(--capwidth)*3/2);
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0px 1px 1px gray;

}
@keyframes rotate {
        from {
            
        }
        
        to {
            transform: rotate(360deg);
        }
}
@keyframes movein {
    from {
        position: absolute;
        left: -15rem;
    }
    to {
        position: absolute;
        left: 0rem;
    }
}