*{
    /* border: 1px solid red; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(44, 44, 44);
}
.hat{
    display: flex;
    flex-direction: column;
}
.top{
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
.top div{
    background-color: white;
    border: none;
}
.top .left{
    height: 9vh;
    width: 6vh;
    border-radius: 2vh ;
    transform: rotate(25deg);
}
.top .right{
    height: 9vh;
    width: 6vh;
    transform: rotate(-25deg);
    border-radius:  2vh ;
}
.bottom{
    height: 8vh;
    width: 25vh;
    background-color: white;
    border-radius: 10vh;
    position: relative;
    top: -1rem;
    border-top: 15px solid rgb(44, 44, 44);
    border-bottom: 25px solid rgb(44, 44, 44);
}
